[Unit]
Description=UTS-Server RFC 3161 Time-Stamp Server
After=network.target
Wants=network.service

[Service]
Type=forking
User=uts-server
Group=uts-server
RuntimeDirectory=uts-server
RuntimeDirectoryMode=0775
PIDFile=/var/run/uts-server/uts-server.pid

EnvironmentFile=/etc/sysconfig/uts-server
ExecStart=/usr/bin/uts-server $OPTIONS -p /var/run/uts-server/uts-server.pid
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
